[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/eigen"]
	path = external/eigen
	url = git@github.com:RLovelett/eigen.git
[submodule "external/healpixmirror"]
	path = external/healpixmirror
	url = git@github.com:healpy/healpixmirror.git
[submodule "external/doctest"]
	path = external/doctest
	url = git@github.com:onqtam/doctest.git
