[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/wjakob/pybind11.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/RLovelett/eigen.git
