if ("${CMAKE_CXX_COMPILER_ID}" STREQUAL "AppleClang")
    # using Clang -> HOMEBREW installed HEALPIX
    set(HEALPIX_INCLUDEPATH /usr/local/Cellar/healpix/3.30/include/healpix_cxx)
    set(HEALPIX_LIBPATH /usr/local/Cellar/healpix/3.30/lib)
elseif ("${CMAKE_CXX_COMPILER_ID}" STREQUAL "GNU")
    # using GCC -> MANUALLY installed HEALPIX
    set(HEALPIX_INCLUDEPATH /Users/michael/Documents/ETH/2015HS/MasterThesis/Build/Healpix_3.30/src/cxx/basic_gcc/include)
    set(HEALPIX_LIBPATH /Users/michael/Documents/ETH/2015HS/MasterThesis/Build/Healpix_3.30/src/cxx/basic_gcc/lib)
endif()

set(PYTHON /Users/michael/.virtualenvs/MT/bin/python)
set(PYTHON_INCLUDE_DIR /Users/michael/.virtualenvs/MT/include/python2.7/)
set(PYTHON_LIBRARY_DIR /Users/michael/.virtualenvs/MT/lib/python2.7/)


# Do we want to build python libraries?
set(BUILD_PYTHON YES)

# Do we want to build the unit tests?
set(BUILD_TESTS YES)
