# Use this file for custom settings, eg library paths, include paths, etc.
# Rename this file to config.cmake (it will not be overwritten by git)

# Example configuration:
set(HEALPIX_DIR /usr/local/Cellar/healpix/3.30)

set(PYTHON /Users/michael/.virtualenvs/MT/bin/python)
set(PYTHON_INCLUDE_DIR /Users/michael/.virtualenvs/MT/include/python2.7/)
set(PYTHON_LIBRARY_DIR /Users/michael/.virtualenvs/MT/lib/python2.7/)