## HEALPIX PATHS
## Set these variables if an already compiled HEALPix library shall be used.
## Otherwise the library will be created on the fly.
#set(HEALPIX_INCLUDEPATH /Users/michael/Documents/ETH/2015HS/MasterThesis/Build/Healpix_3.30/src/cxx/optimized_gcc/include)
#set(HEALPIX_LIBPATH /Users/michael/Documents/ETH/2015HS/MasterThesis/Build/Healpix_3.30/src/cxx/optimized_gcc/lib)

## Path to python library (might be needed if the auto-detection picks the wrong one)
# set(PYTHON_LIBRARY /Users/michael/.virtualenvs/MT/lib/python2.7/libpython2.7.dylib)

## Do we want to create python targets?
set(BUILD_PYTHON YES)

## Do we want to create unit tests targets?
set(BUILD_TESTS YES)