include README.rst
include *.txt
graft catana
graft cmake
recursive-include python *.cpp *.txt
include external/doctest/doctest/doctest.h
graft external/eigen/Eigen
graft external/healpixmirror/src/cxx
graft external/pybind11
include versioneer.py
include python/catana/_version.py
include python/catana/__init__.py
